[submodule "3rdparty/kissfft"]
	path = 3rdparty/kissfft
	url = git@github.com:mborgerding/kissfft.git
[submodule "3rdparty/portaudio"]
	path = 3rdparty/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "3rdparty/dr_libs"]
	path = 3rdparty/dr_libs
	url = git@github.com:mackron/dr_libs.git
